:root{
    --orange: #FBC531;
    --grey: #F5F5F5;
    --brown: #735400;
    --cream: #F0DAA9;
}

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--grey);
}

.judul{
    color: var(--brown);
}

.form input{
    border: 1px solid var(--brown);
    border-radius: 20px;
    background-color: transparent;
}

.form textarea{
    border: 1px solid var(--brown);
    border-radius: 20px;
    background-color: transparent;
}

.send-button{
    color: var(--brown);
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid var(--brown);
    padding: 5px 10px 5px 10px;
}

.button-loading{
    color: var(--brown);
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid var(--brown);
    padding: 5px 10px 5px 10px;
}

.send-button:hover{
    color: var(--grey);
    font-weight: 600;
    background-color: var(--brown);
}

.spinner-border{
    width: 15px;
    height: 15px;
}

.my-toast{
    background-color: var(--grey);
    border-radius: 20px 20px 0px 20px;
    position: fixed;
    
    bottom: 0;
    right: 0;
    color: var(--brown);
    margin-bottom: 20px;
}

.toast-header{
    background-color: var(--orange);
    color: var(--brown);
    font-weight: 600;
}

/* .contact{
    height: 100vh;
} */

.icon-toko img{
    border-radius: 100%;
    width: 100%;
    height: 50%;
}

.sosmed{
    color: var(--brown);
    font-weight: 600;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--orange);
    color: black;
    border-radius: 100%;
    font-size: 25px;
    margin-right: 20px;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icon:hover {
    background-color: var(--brown);
    color: var(--grey);
}