:root{
    --orange: #FBC531;
    --grey: #F5F5F5;
    --brown: #735400;
    --cream: #F0DAA9;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.konten-explore{
    background-color: var(--grey);
    border-radius: 20px;
}

.header-konten{
    background-color: var(--orange);
    border-radius: 20px;
}